@import "@material/typography/mdc-typography";

:host {
  /** 
  * @prop --materials-badge-color: The background color of the badge 
  * @prop --materials-badge-ink-color: The text color of the badge 
  */
  span {
    position: relative;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    font-size: 0.8rem;
    height: 20px;
    padding: 0 4px;
    min-width: 20px;
    margin: 4px;
    background-color: var(--materials-badge-color);
    color: var(--materials-badge-ink-color);
  }
}