materials-card {
  padding: 16px;

  h2 {
    padding: 8px 16px;
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    margin: 0;
  }
}

.demo-and-code {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.code pre {
  color: #eee;
  background-color: #222;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
  margin: 0;
}
