/* Document Level Styles */

/*
  The imports below are needed to include our light dom css for global styles such as fonts and colors.
  You can comment out any of these imports if you do not need that css. For example, if you have your own
  global font family css then you can comment out the typography.css import.
*/


/*
  The CSS Variables below can be used to theme your app.
  For more info on CSS variables check out:
  https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

  More info about color theming using Ionic:
  https://beta.ionicframework.com/docs/theming/color-generator
*/
.api-page h1,
.api-page h2 {
  border-bottom: 1px solid #ddd;
}

.api-page table {
  border-spacing: 0;

}

.api-page tr td,
.api-page tr th {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 8px 16px;
}

.api-page tr th {
  border-top: 1px solid #ccc;
}

.api-page tr td:last-child,
.api-page tr th:last-child {
  border-right: 1px solid #ccc;
}


.api-page tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
